#Footer{
    background: rgb(68,68,68);
    background: linear-gradient(0deg, rgb(139, 139, 139) 0%, rgb(209, 209, 209) 100%);
    min-height: 150px;
    text-align: center;
    border-top : 5px solid #CCC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: "Courier New";
    p{
        color : #000;
        margin: 0px;
        padding: 0px;
        font-size: 1em;
        .heart{
            width : 25px;
            display: inline-block;
            vertical-align: middle;
            margin: 0px 5px;
            img{
                max-width : 100%;
                height : auto;
            }
        }
        a{
            color : #000;
            font-weight: bold;
            text-decoration: none;
            margin-left : 5px;
        }
    }
}