#Home{
    .HomeIntro{
        width : 100vw;
        height: 100vh;
        position: relative;
        canvas{
            width: 100vw;
            height : 100vh;
        }
        .textContainer{
            position: absolute;
            top : 20%;
            left : 10%;
        }
    }
}

.var-highlight{
	color: #C0AD60;
}
.string-highlight{
	color: rgba(253, 149, 90, 0.8);
}

#typewriter{
    font-size: 2em;
    margin: 0;
    font-family: "Courier New";
    color : #FFF;
    &:after{
        content: "|";
        animation: blink 500ms linear infinite alternate;
    }
    .margin-left{
        display: inline-block;
        margin-left: 118px;
    }
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.skills-container{
    position: absolute !important;
    top : 30%;
    right : 20%;
}
.responsive-image {
    width: 100%;
}

.tool-support-animation-container {
    position: relative;
    margin: 0 auto;
    width: 291px;
    height: 247px;
}
  
// Tiles
$animation-time: 700ms;
$animation-ease: ease-out;
  
.tile-slide-down {
    transition: opacity $animation-time $animation-ease,
    transform $animation-time $animation-ease;
}

.tile-slide-down--top {
    transform: translate(0, -25px);
    opacity: 0;
}

.tile-slide-down--bottom {
    transform: translate(0,0);
    opacity: 1;
}

// Shadows
.shadow-grow {
    transition: opacity $animation-time $animation-ease,
    transform $animation-time $animation-ease;
    transform-origin: center bottom;
}

.shadow-grow--inactive {
    transform: scale(0) translate(0, -10px);
    opacity: 0;
}

.shadow-grow--active {
    transform: scale(1) translate(0, 0px);
    opacity: 1;
}

// Tiles
.deployment-tile-container {
    position: relative;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transform: translate(0, -10px);

        & + .deployment-shadow-container .shadow-grow {
        transform: scale(0.9) translate(0, -3px);
        }
    }
}
  
.deployment-tile {
    position: absolute;
    height: 34px;
    width: 89px;
}

.deployment-tile--fake {
    top: 0;
    left: 7px;
}

.deployment-tile--rake {
    top: 73px;
    left: 4px;
}

.deployment-tile--grunt {
    top: 146px;
    left: 5px;
}

.deployment-tile--bamboo {
    top: 36px;
    left: 68px;
}

.deployment-tile--git {
    top: 108px;
    left: 68px;
}

.deployment-tile--capistrano {
    top: 183px;
    left: 68px;
}

.deployment-tile--octopus {
    top: 72px;
    left: 133px;
}

.deployment-tile--api {
    top: 146px;
    left: 132px;
}

.deployment-tile--heroku {
    top: 35px;
    left: 196px;
}

.deployment-tile--konsole {
    top: 109px;
    left: 195px;
}

.deployment-tile--powershell {
    top: 182px;
    left: 195px;
}

// Shadows
.deployment-shadow-container {
    position: relative;
    z-index: 1;
}

.deployment-shadow {
    position: absolute;
    height: 34px;
    width: 89px;
}

.deployment-shadow--fake {
    top: 9px;
    left: 8px;
}

.deployment-shadow--rake {
    top: 82px;
    left: 5px;
}

.deployment-shadow--grunt {
    top: 155px;
    left: 6px;
}

.deployment-shadow--bamboo {
    top: 45px;
    left: 69px;
}

.deployment-shadow--git {
    top: 117px;
    left: 69px;
}

.deployment-shadow--capistrano {
    top: 191px;
    left: 69px;
}

.deployment-shadow--octopus {
    top: 81px;
    left: 134px;
}

.deployment-shadow--api {
    top: 154px;
    left: 133px;
}

.deployment-shadow--heroku {
    top: 44px;
    left: 197px;
}

.deployment-shadow--konsole {
    top: 118px;
    left: 196px;
}

.deployment-shadow--powershell {
    top: 191px;
    left: 196px;
}