#Home{
    overflow: hidden;

    .prettyButton{
        position: absolute;
        outline: 0;
        text-align: center;
        &:hover{
            background-color : #EEE;
        }
        a{
            color : #333;
            font-size : 1.5em;
            text-decoration: none;
            vertical-align: middle;
            position: absolute;
            bottom : 0%;
            left : 45%;
            padding : 10px 30px;
            background-color : #d4d4d4;
            color : #333;
            border: none;
            border-radius : 25px;
            animation: view-skills-button 5s infinite ease-in-out;
            box-shadow: 0px 0px 10px -5px rgba(255,255,255,1);
            transition: all 0.5s ease-in-out;
            font-family: "Courier New";
            i{
                padding: 5px;
                margin-bottom: 2.5px;
                margin-left : 5px;
            }
        }
    }

    .HomeIntro{
        width : 100vw;
        height: 100vh;
        position: relative;
        canvas{
            width: 100vw;
            height : 100vh;
            position: fixed !important;
            top: 0px;
            left: 0px;
        }
        .textContainer{
            position: absolute;
            padding-top: 10%;
            padding-left: 10%;
            .var-highlight{
                color: #C0AD60;
            }
            .string-highlight{
                color: rgba(253, 149, 90, 0.8);
            }
            
            #typewriter{
                font-size: 2em;
                margin: 0;
                font-family: "Courier New";
                color : #FFF;
                &:after{
                    content: "|";
                    animation: blink 500ms linear infinite alternate;
                }
                .margin-left{
                    display: inline-block;
                    margin-left: 118px;
                }
            }

        }

        .hello-animated{
            font-family: 'Nova Mono', monospace;
            font-size: 2.5rem;
            text-transform: uppercase;
            width: 40%;
            height: 100%;
            position: absolute;
            top : 10%;
            right : 10%;
            color: turquoise;
            z-index: -1;
        }
        
        .char {
            offset-path: path('M.2 219.6c247-107 233.3 91.4 406.4 138.4C659.2 426.6 750.2 6.6 552.2.6 337.7-5.9 426.9 415 696.1 359.4c256.1-52.9 182.1-217.9 413.1-163.9');
            offset-distance: calc(var(--char-index) * 1.5rem);
            position: absolute;
            animation: loop 3500ms cubic-bezier(.62,.01,.42,1.01) infinite alternate calc(var(--char-index) * 10ms);
        }


        .prettyButton{
            position: absolute;
            display: inline-block;
            width: 100%;
            margin-top: 100px;
            background-color: transparent;
            border: none;
            bottom: 10%;
            a{
                animation: view-projects-button 5s infinite ease-in-out;
            }
        }

    }

    #Skills{
        width : 100vw;
        min-height : 100vh;
        background: rgb(68,68,68);
        background: linear-gradient(0deg, rgb(100, 100, 100) 0%, rgba(68,68,68,1) 100%);
        .pretty-header{
            color: #FFF;
        }
        .can-do-container{
            margin-top : 40px;
            text-align: center;
            img{
                width : 60px;
                height : 60px;
            }
            h3{
                margin: 10px;
                color: rgb(238, 237, 237);
                font-size : 1.5em;
            }
            p{
                opacity: 0.9;
                font-size : 1.1em;
                color: rgb(226, 224, 224);
                margin: 0px;
            }
        }
        .skills-images{
            margin-top: 80px;
            .col-md-2{
                margin-bottom: 40px;
            }
            img{
               width: 100%;
               height : 200px;
            }
        }
    
        .skills-container-process{
            margin-top: 40px;
            .item-container{
                box-shadow: -2px 0px 38px -16px rgba(255, 255, 255, 0.75);
                text-align: left;
                border-bottom: 1px solid rgb(199, 199, 199);
                border-left: 1px solid rgb(199, 199, 199);
                border-right: 1px solid rgb(199, 199, 199);
                position: relative;
                &:nth-of-type(1){
                    border-top: 1px solid rgb(199, 199, 199);
                }
                .item{
                    display: inline-block;
                    padding : 10px 20px;
                    width : 30%;
                    border-right:1px solid rgb(199, 199, 199);
                    color : #FFF;
                    background-color :#27ae60;
                }
                .process{
                    padding : 10px 0px;
                    transition: all 5s ease-in-out;
                    background-color: #2ecc71;
                    // width : CALC(100px - 80%);
                    display: inline-block;
                    text-align: center;
                    color : #FFF;
                    width : 0px;
                    max-width: 0px;
                    &.active{
                        max-width : 300%;
                    }
                }
            }
        }

        .prettyButton{
            position: relative;
            display: inline-block;
            width: 100%;
            margin-top: 100px;
            background-color: transparent;
            border: none;
            a{
                animation: view-projects-button 5s infinite ease-in-out;
            }
        }

    }

    #Projects{
        min-height: 110vh;
        min-width: 100vw;
        background: rgb(68,68,68);
        background: linear-gradient(0deg, rgb(129, 129, 129) 0%, rgb(100, 100, 100) 100%);
        .projects-container{
            margin-top : 40px;
            position: relative;
            .col-md-4{
                margin-bottom: 40px;
                .item-container{
                    background-color : #333;
                    border-radius : 25px;
                    overflow : hidden;
                    padding-bottom : 10px;
                    -webkit-box-shadow: -1px 2px 44px -10px rgba(0,0,0,0.75);
                    -moz-box-shadow: -1px 2px 44px -10px rgba(0,0,0,0.75);
                    box-shadow: -1px 2px 44px -10px rgba(0,0,0,0.75);
                    position: relative;
                    .img-container{
                        width : 100%;
                        height : 200px;
                        overflow : hidden;
                        img{
                            transition: margin 5s ease-in-out;
                            width : 100%;
                        }
                    }
                    h3{
                        text-align: center;
                        color : #FFF;
                        margin : 10px auto;
                    }
                    ul{
                        list-style: none;
                        padding : 0px;
                        margin : 0px;
                        li{
                            display: inline-block;
                            color : #333;
                            border-radius : 5px;
                            padding : 5px 10px; 
                            margin : 10px;
                            background-color : #EEE;
                            transition: .6s;
                            overflow: hidden;
                            position: relative;
                            &:nth-of-type(1){
                                margin-left : 20px;
                            }
                            &:hover{
                                background-color : #333;
                                color : #EEE;
                            }
                            &:focus{
                                outline: 0;
                            }
                            &:after{
                                content: '';
                                position: absolute;
                                top: -50%;
                                right: -50%;
                                bottom: -50%;
                                left: -50%;
                                background: #FFF;
                                filter: blur(1rem);
                                transform: rotateZ(60deg) translate(-5em, 7.5em);
                            }
                            &:hover::after {
                                animation: sheen 1s forwards;
                            }
                        }
                    }
                    .learn-more{
                        position: absolute;
                        top : -20%;
                        left : 35%;
                        background-color : #333;
                        padding : 10px 20px;
                        color : #EEE;
                        cursor: pointer;
                        border-radius : 25px;
                        border: 1px solid #222;
                        transition: all 0.5s ease-in-out;
                        z-index: 2;
                        &:hover{
                            -webkit-box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.75);
                            box-shadow: -1px 2px 44px 0px rgba(0,0,0,0.75);
                        }
                        &:active{
                            -webkit-box-shadow: inset -1px 2px 44px -10px rgba(0,0,0,0.69);
                            -moz-box-shadow: inset -1px 2px 44px -10px rgba(0,0,0,0.69);
                            box-shadow: inset -1px 2px 44px -10px rgba(0,0,0,0.69);
                        }
                    }

                    .overlay{
                        position: absolute;
                        top : 0px;
                        bottom : 0px;
                        left : 0px;
                        right : 0px;
                        margin-bottom : 130%;
                        background-color : rgba(0, 0, 0, 0.295);   
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover .learn-more{
                        top : 40%;
                    }
                    &:hover .overlay{
                        margin-bottom : 0px;
                    }
                }
            }
        }

        .project-details-container{
            position: fixed;
            top : 0px;
            bottom : 0px;
            right : 0px;
            left : 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 1s ease-in-out;
            margin-top : 1500px;
            opacity: 0;
            z-index : -1;
            &.show-project{
                margin-top : 0px;
                opacity: 1;
                z-index: 111111;
            }
            .project-overlay{
                position: fixed;
                top : 0px;
                left : 0px;
                bottom : 0px;
                right : 0px;
                background-color : rgba(0, 0, 0, 0.301);
                cursor: pointer;
                z-index : -1;
            }

            .project{
                background-color : #FFF;
                height : auto;
                max-width : 90%;
                width : 600px;
                margin : 0px auto;
                -webkit-box-shadow: -1px 2px 44px -10px rgba(0,0,0,0.69);
                -moz-box-shadow: -1px 2px 44px -10px rgba(0,0,0,0.69);
                box-shadow: -1px 2px 44px -10px rgba(0,0,0,0.69);
                border-radius : 5px;
                .title{
                    padding : 10px;
                    background-color : #EEE;
                    border-bottom : 2px solid #CCC;
                    .text{
                        float : left;
                        font-weight: bold;
                        font-size : 1.5em;  
                        font-family: "Courier New";
                    }
                    .exit{
                        color : red;
                        float: right;
                        font-size : 1.5em;
                        font-weight: bold;
                        cursor: pointer;
                        position: relative;
                        display: inline-block;
                        padding : 15px 20px;
                        &:after{
                            content: '';
                            position: absolute;
                            width: 2px;
                            height: 30px;
                            transform: rotate(45deg);
                            background-color: red;
                            top: -2px;
                            left: 18px;
                        }
                        &:before{
                            content: '';
                            position: absolute;
                            width: 2px;
                            height: 30px;
                            transform: rotate(130deg);
                            background-color: red;
                            top: -2px;
                            left: 18px;
                        }
                        &:hover::before{
                            animation: exit-rotate-2 3s infinite ease-in-out;
                        }
                        &:hover::after{
                            animation: exit-rotate-1 2s infinite ease-in-out;
                        }
                    }
                }

                .content{
                    .images-slider{
                        .images{
                            list-style: none;
                            width : 100%;
                            padding : 0px;
                            margin: 0px;
                            white-space: nowrap;
                            overflow: hidden;
                            li{
                                display: inline-block;
                                width : 100%;
                                height : 300px;
                                overflow: hidden;
                                transition: all 1s ease-in-out;
                                img{
                                    display: inline-block;
                                    width : 100%;
                                    transition: margin 5s ease-in-out;
                                }
                            }
                        }
                        .movers{
                            background-color :#EEE;
                            border-bottom : 1px solid #CCC;
                            border-top : 1px solid #CCC;
                            .next{
                                float : right;
                                padding : 10px 20px;
                                border-left : 1px solid #CCC;
                                background-color :#EEE;
                                cursor: pointer;
                                &:hover{
                                    color : #FFF;
                                    background-color : #333;
                                }
                            }
                            .previous{
                                cursor: pointer;
                                float : right;
                                padding : 10px 20px;
                                border-left : 1px solid #CCC;
                                background-color :#EEE;  
                                &:hover{
                                    background-color : #333;
                                    color : #FFF;
                                }
                            }
                            .images-count{
                                float : left;
                                padding : 10px 20px;
                                border-right : 1px solid #CCC;
                                background-color :#EEE;
                            }
                        }
                        .text{
                            padding : 0px 10px;
                            font-family: "Courier New";
                            font-size : 1.1em;
                        }
                        .tools{
                            list-style: none;
                            padding : 0px;
                            margin : 0px;
                            background-color : #EEE;
                            border-top : 1px solid #CCC;
                            border-bottom : 1px solid #CCC;
                            margin-top : 30px;
                            li{
                                display: inline-block;
                                color : #333;
                                border-radius : 5px;
                                padding : 5px 10px; 
                                margin : 10px;
                                background-color : #EEE;
                                transition: .6s;
                                overflow: hidden;
                                position: relative;
                                &:hover{
                                    background-color : #333;
                                    color : #EEE;
                                }
                                &:focus{
                                    outline: 0;
                                }
                                &:after{
                                    content: '';
                                    position: absolute;
                                    top: -50%;
                                    right: -50%;
                                    bottom: -50%;
                                    left: -50%;
                                    background: #FFF;
                                    filter: blur(1rem);
                                    transform: rotateZ(60deg) translate(-5em, 7.5em);
                                }
                                &:hover::after {
                                    animation: sheen 1s forwards;
                                }
                            }
                        }
                        .project-url-conainer{
                            text-align: center;
                            .project-url{
                                display: inline-block;
                                background: #EEE;
                                border : 1px solid #CCC;
                                padding : 10px 20px;
                                color : #333;
                                border-radius: 5px;
                                margin: 20px auto;
                                text-decoration: none;
                                transition: all 0.5s ease-in-out;
                                &:hover{
                                    background: #333;
                                    border:1px solid #222;
                                    color : #EEE;
                                }
                            }
                        }
                    }
                }
            }
        }

        .prettyButton{
            position: relative;
            display: inline-block;
            width: 100%;
            margin-top: 100px;
            background-color: transparent;
            border: none;
            a{
                animation: view-projects-button 5s infinite ease-in-out;
            }
        }

        .pagination-container{
            position: absolute;
            bottom : -80px;
            right : 0px;
            .pagination{
                padding-right: 15px;
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        a{
                            position: relative;
                            display: block;
                            padding: .5rem .75rem;
                            margin-left: -1px;
                            line-height: 1.25;
                            color: #000000;
                            background-color: #fff;
                            text-decoration: none;
                            border: 1px solid #dee2e6;
                            &:hover{
                                color: #000000;
                                text-decoration: none;
                                background-color: #e9ecef;
                                border-color: #dee2e6;
                            }
                            &.active{
                                color: #000000;
                                text-decoration: none;
                                background-color: #e9ecef;
                                border-color: #dee2e6;
                            }
                        }
                        &:first-of-type{
                            a{
                                margin-left: 0;
                                border-top-left-radius: 1rem;
                                border-bottom-left-radius: 1rem;
                            }
                        }
                        &:last-of-type{
                            a{
                                margin-right: 0;
                                border-top-right-radius: 1rem;
                                border-bottom-right-radius: 1rem;
                            }
                        }

                    }
                }
            }
        }
    }

    #Resume{
        min-height: 100vh;
        min-width: 100vw;
        background: rgb(68,68,68);
        background: linear-gradient(0deg, rgb(139, 139, 139) 0%, rgb(129, 129, 129) 100%);
        .resumeContainer{
            position: relative;
            margin-top : 25px;
            -webkit-box-shadow: -1px 1px 7px 0px #000000; 
            box-shadow: -1px 1px 7px 0px #000000;
            border-radius: 20px;
            .header{
                width : 100%;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                text-align: center;
                background-color : rgb(51, 51, 51);
                color : #EEE;
                padding : 50px 0px;
                font-family: "Courier New";
                span{
                    display: block;
                }
                .name{
                    font-size : 30px;
                    margin-bottom : 10px;
                    font-weight: bold;
                }
                .job{
                    font-style: italic;
                }
            }
            .content{
                background-color : #FFF;
                border-top: 1px solid #EEE;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                padding : 20px;
                color : #333;
                .summary{
                    .contact{
                        list-style: none;
                        padding : 0px;
                        margin: 0px 0px 20px;
                        -webkit-box-shadow: -2px 1px 7px -3px #000000; 
                        box-shadow: -2px 1px 7px -3px #000000;
                        li{
                            padding-left : 10px;
                            padding-bottom : 10px;
                            padding-top : 10px;
                            border: 1px solid #DDD;
                            &:first-of-type{
                                border-top-right-radius: 5px;
                                border-top-left-radius: 5px;
                            }
                            &:last-of-type{
                                border-bottom-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                            }
                            &:hover{
                                background-color : #DDD;
                            }
                            .icon{
                                display: inline-block;
                                width : 25px;
                                margin-right : 10px;
                                img{
                                   width: 100%;
                                   height: auto;
                                   vertical-align: middle; 
                                }
                            }
                            .value{
                                font-family: "Courier New";
                                color : #333;
                                a{
                                    font-weight: bold;
                                    color : #333;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .skills{
                        -webkit-box-shadow: -2px 1px 7px -3px #000000; 
                        box-shadow: -2px 1px 7px -3px #000000;
                        padding: 5px 10px;
                        .skills-header{
                            span.icon{
                                width : 50px;
                                display: inline-block;
                                margin-right : 10px;
                                img{
                                    vertical-align: middle;
                                    width : 100%;
                                    height: auto;
                                }
                            }
                            span.title{
                                font-weight: bold;
                                font-family: "Courier New";
                                vertical-align: middle;
                                font-size : 25px;
                            }
                        }
                        .skills-data{
                            list-style: none;
                            padding: 0px;
                            margin: 0px;
                            li{
                                margin-top : 0px;
                                span.skill{
                                    display: inline-block;
                                    font-family: "Courier New";
                                    width : 40%;
                                    vertical-align: middle;
                                    padding : 5px;
                                }
                                .value-container{
                                    display: inline-block;
                                    width: 60%;
                                    border-radius : 10px;
                                    background-color : #DDD;
                                    vertical-align: middle;
                                    overflow: hidden;
                                    span.value{
                                        background-color : #000000;
                                        color : #FFF;
                                        padding : 5px;
                                        font-size : 0.8em;
                                        text-align: center;
                                        display: inline-block;  
                                    }
                                }
                            }
                        }
                    }
                }
                .details{
                    .profile{
                        .title{
                            span.icon{
                                width : 50px;
                                display: inline-block;
                                margin-right : 10px;
                                img{
                                    vertical-align: middle;
                                    width : 100%;
                                    height: auto;
                                }
                            }
                            span.text{
                                font-weight: bold;
                                font-family: "Courier New";
                                vertical-align: middle;
                                font-size : 25px;
                            }
                        }
                        .profile-content{
                            font-family: "Courier New";
                            margin-top : 20px;
                            line-height: 1.5em;
                        }
                    }
                    .exp{
                        margin-top : 20px;
                        .title{
                            span.icon{
                                width : 50px;
                                display: inline-block;
                                margin-right : 10px;
                                img{
                                    vertical-align: middle;
                                    width : 100%;
                                    height: auto;
                                }
                            }
                            span.text{
                                font-weight: bold;
                                font-family: "Courier New";
                                vertical-align: middle;
                                font-size : 25px;
                            }
                        }
                        .exp-content{
                            font-family: "Courier New";
                            margin-top : 20px;
                            line-height: 1.5em;
                            padding: 0px;
                            list-style: none;
                            li{
                                margin-bottom : 10px;
                                .title{
                                    width : 280px;
                                    display: inline-block;
                                }
                                .company{
                                    display: inline-block;
                                    text-decoration: none;
                                    color : #000;
                                    font-weight: bold;
                                    width : 200px;
                                }
                            }
                        }
                        
                    }
                    .education{
                        margin-top : 20px;
                        .title{
                            span.icon{
                                width : 50px;
                                display: inline-block;
                                margin-right : 10px;
                                img{
                                    vertical-align: middle;
                                    width : 100%;
                                    height: auto;
                                }
                            }
                            span.text{
                                font-weight: bold;
                                font-family: "Courier New";
                                vertical-align: middle;
                                font-size : 25px;
                            }
                        }
                        .education-content{
                            font-family: "Courier New";
                            margin-top : 20px;
                            line-height: 1.5em;
                            padding: 0px;
                            list-style: none;
                            li{
                                margin-bottom : 10px;
                                .title{
                                    width : 280px;
                                    display: inline-block;
                                }
                                .company{
                                    display: inline-block;
                                    text-decoration: none;
                                    color : #000;
                                    font-weight: bold;
                                    width : 200px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }

        .prettyButton{
            position: relative;
            display: inline-block;
            width: 100%;
            margin-top: 100px;
            background-color: transparent;
            border: none;
            a{
                animation: view-projects-button 5s infinite ease-in-out;
            }
        }
    }

    #HireMe{
        min-height: 100vh;
        min-width: 100vw;
        background: rgb(68,68,68);
        background: linear-gradient(0deg, rgb(209, 209, 209) 0%, rgb(139, 139, 139) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contant{
            position: relative;
            display: flex;
            justify-content: center;
            height : 100%;
            flex-direction: column;
            align-items: center;
            .hire{
                display: inline-block;
                position: relative;
                margin: 20px 0px;
                border-radius : 20px;
                max-width : 500px;
                width : 100%;
                overflow: hidden;
                height : 100px;
                padding: 0px;
                box-shadow: 0px 0px 10px -5px rgba(255,255,255,1);
                a{
                    padding: 0px;
                    text-decoration: none;
                    display: block;
                    height : 100%;
                }
                .icon{
                    vertical-align: middle;
                    width : 20%;
                    display: inline-block;
                    margin-right : 5%;
                    height : 100%;
                    z-index : 1;
                    position: relative;
                    img{
                        width : 100%;
                        height : 100%;
                        display: inline-block;
                    }
                }
                .text{
                    z-index : 1;
                    position: relative;
                    font-size : 1.5em;
                    transition: color 0.5s ease-in-out;
                }
                .hover{
                    position: absolute;
                    top : 0px;
                    left : 0px;
                    transition: width 0.5s ease-in-out;
                    width : 0px;
                    display: inline-block;
                    height : 100%;
                    z-index : 0;
                }
                &:hover .hover{
                    width : 100%;
                }
            }
        }
    }

}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

@keyframes loop {
	50% {
		offset-distance: calc((var(--char-index) * 2.5rem) + 700px);
		color: hotpink;
	}
	100% {
		offset-distance: calc((var(--char-index) * 1.5rem) + 1690px);
	}
}

@keyframes blink {
    from{ color: #FFF }
    to{ color : transparent}
}


@keyframes view-skills-button{
    0%{
        bottom : 20%;
    }
    50%{
        bottom: 21%;
    }
    100%{
        bottom: 20%;
    }
}

@keyframes view-projects-button{
    0%{
        margin-bottom : 40px;
    }
    50%{
        margin-bottom : 20px;
    }
    100%{
        margin-bottom : 40px;
    }
}

@keyframes exit-rotate-1{
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes exit-rotate-2{
    0%{
        transform: rotate(130deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(130deg);
    }
}